{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="breadcrumb title">
            <h5 class="text-center">Edit Thread</h5>
        </div>
        {% include 'thread/form.html.twig' %}
    </div>
{% endblock %}
