{% extends 'profile/blocks/settings.html.twig' %}

{% block change_password %}
    {{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.plainPassword) }}

    <button class="btn btn-md btn-primary" type="submit">
        Change password
    </button>

    {{ form_end(form) }}
{% endblock %}
