{% extends 'base.html.twig' %}

{% block title %}My Profile - Overview{% endblock %}

{% block body %}
    <div class="container">
        <div class="breadcrumb title">
            <h5 class="text-center">My Profile</h5>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('profile_read', {'id': app.user.id}) }}">Overview</a>
            </li>
        </ul>
    </div>
{% endblock %}
